.workload-breakdown {
    $tabColor: #f7f7f7;
    .euiTableRowCell {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        background-color: $tabColor;
    }    

    td:first-child {
        padding-left: 10px;
    }

    .group {
        &::before {
            height: 20px;
            content: "";
            display: block;
        }

        td:first-child {
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            border-radius: 4px 4px 0 0;
            background-color: $tabColor;
            border-bottom: 1px solid $tabColor;
            position: relative;
            top: 1px;
            display: inline-block;
            z-index: 10;
            min-width: 72px;

            &::after {
                height: 40px;
                width: 70px;
                border-radius: 5px 5px 0 0;
                background-color: $tabColor;
                content: "";
                position: absolute;
                right: -15px;
                top: 0;
                transform: skewX(40deg);
                z-index: -1;
            }
        }

        td:not(:first-child) {
            display: none;
        }
    }
}