.drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 98px;

    &:not(.open) {
        pointer-events: none;
        
        .drawer-container {
            bottom: -100%;
            pointer-events: none;
        }
    }

    &.maximized .drawer-container {
        top: 0;
    }

    &.dragging {
        user-select: none;
    }

    .drawer-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        
        background-color: #FFF;
        border-radius: 4px;
        box-shadow: 0 0 15px rgba(152, 162, 179, 0.7);

        transition: bottom 2s;
        transition: top 0.4s;

        & > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            padding: 15px;
        }
    }

    .handle {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        height: 10px;
        cursor: ns-resize;
    }

    .buttons {
        position: absolute;
        top: 0px;
        right: 0px;

        padding: 10px;

        .euiIcon {
            cursor: pointer;
            margin-left: 5px;
        }
    }
}