.log-drawer {
    position: relative;
    .bubble {
        padding: 10px;
    }

    .body {
        position: absolute;
        top: 40px;
        bottom: 5px;
        width: 100%;
        overflow-y: scroll;
    }
}