.insights-chart {
    position: relative;

    .echLegend {
        .echLegendListContainer {
            position: relative;
            overflow: visible;
            mask-image: none;
            -webkit-mask-image: none;

    
            .echLegendItem {
                width: initial;
                position: absolute;

                &:nth-of-type(2) {
                    top: 20px;
                }
    
                &:nth-of-type(3) {
                    right: 0;
                }
            }
        }
    }
}