.insights-chart {
    position: relative;

    .loading {
        height: 300px;
    }

    .echLegend {
        .echLegendListContainer {
            position: relative;
            overflow: visible;
            mask-image: none;
            -webkit-mask-image: none;

    
            .echLegendItem {
                width: initial;
                position: absolute;
    
                &:nth-of-type(2) {
                    top: 0 !important;
                    right: 0;
                }
            }
        }
    }
}